- @active_tab = :photos
- title 'New Band Photo', true

- form_for(@band_photo, :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', band_photos_path, :class => 'cancel'
