- @active_tab = :about
- title "About #{h @about_the_band.title}", true

%p=h @about_the_band.description

= link_to 'Edit', edit_about_the_band_path(@about_the_band), :class => 'edit'
=link_to 'Go Back to About the Bands', about_the_bands_path, :class => 'cancel'
