- title 'Create a News Story', true

- form_for @news_story do |f|
  = f.error_messages
  = render :partial => 'form', :object => f

  .submit_or_cancel
    = f.submit :create, :class => :submit
    %br
    = link_to :cancel, nil, :class => :cancel, :onclick => "parent.Shadowbox.close();"
