- @active_tab = :news
- title "#{h @news_story.title}"

%p= h @news_story.description

= link_to 'Edit', edit_news_story_path(@news_story)
|
= link_to 'Go Back to All News Stories', news_stories_path
