- title "#{h @news_story.title}", true

%p= @news_story.description

= link_to :edit, edit_news_story_path(@news_story), :class => :edit
= link_to :cancel, nil, :class => :cancel, :onclick => "parent.Shadowbox.close();"
