- @active_tab = :blog
- title 'New Blog Post', true

- form_for(@blog_post) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', blog_posts_path, :class => 'cancel'
