#colors,
#mountains,
#mountains-top, 
#mountains-middle, 
#mountains-bottom {
  height: 400px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#colors {
  position: relative;
  background-color: purple;
}

#mountains img {
  position: absolute;
  left: 50%;
  margin-left: -720px;
  height: 500px;
  width: 1440px;
  opacity: 0.5;
}

#mountains-top {
  background-image: url('/images/mountains-top-smaller.png');
  background-repeat: repeat-x;
  opacity: 1;
}

#mountains-bottom {
  background: transparent; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  transparent,  #000); /* for firefox 3.6+ */  
  opacity: 1;
}

#mountains-middle {
  height: 400px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
}

#colors #band,
#colors #crowd{
  height: 400px;
  width: 960px;
  overflow: hidden;
  position: absolute;
}

#colors #band img,
#colors #crowd img{
  position: absolute;
  opacity: 0.8;
}

#band .nate img {
  top: 175px;
  left: 50%;
  margin-left: -30px;
  width: 110px;
  z-index: 999;
}

#band .casey img {
  top: 150px;
  left: 50%;
  margin-left: -125px;
  width: 90px;
  z-index: 999;
}

#band .rowdy img {
  top: 65px;
  left: 50%;
  margin-left: -80px;
  width: 190px;
  z-index: 999;
}

#band .justin img {
  top: 150px;
  left: 50%;
  margin-left: 70px;
  width: 100px;
  z-index: 999;
}

#crowd {
  overflow: hidden;
}

#crowd img {
  height: 70%;
  top: 230px;
  left: 75px;
}
