body { 
	background-color: #000; 
	color: #fff; 
  height: 100%; /* does anything? */
  min-width: 960px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#colors,
#mountains,
#mountains-top, 
#mountains-middle, 
#mountains-bottom {
  background-repeat: repeat-x;
  height: 400px;
  width: 100%;
  position: absolute;
}

#colors {
  background-color: purple;
}

#mountains {
  background-image: url('/images/mountains-color-smaller.png');
  opacity: 0.5;
}

#mountains-top {
  background-image: url('/images/mountains-top-smaller.png');
  opacity: 1;
}

#mountains-bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  opacity: 1;
}

#mountains-middle {
  height: 400px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
}

#colors #lights,
#colors #band,
#colors #crowd,
#colors #trees {
  height: 400px;
  width: 960px;
  overflow: hidden;
  position: absolute;
}

#colors #lights img,
#colors #band img,
#colors #crowd img,
#colors #trees img{
  position: absolute;
}

#lights img {
  width: 500px;
  opacity: 0.3;
}

#lights img.one {
  left: 50%;
  margin-left: -400px;
  top: -100px;
}

#lights img.two {
  left: 50%;
  margin-left: -250px;
  top: -85px;
}

#lights img.three {
  right: 50%;
  margin-right: -400px;
  top: -100px;
}

#band .nate img {
  top: 115px;
  left: 50%;
  margin-left: -155px;
  width: 90px;
  z-index: 999;
}

#band .casey img {
  top: 185px;
  left: 50%;
  margin-left: 25px;
  width: 90px;
  z-index: 999;
}

#band .rowdy img {
  top: 65px;
  left: 50%;
  margin-left: -70px;
  width: 190px;
  z-index: 999;
}

#band .justin img {
  top: 200px;
  left: 50%;
  margin-left: -75px;
  width: 100px;
  z-index: 999;
}

#band .josh img {
  top: 125px;
  left: 50%;
  margin-left: 100px;
  width: 130px;
  z-index: 999;
}

#crowd {
  overflow: hidden;
}

#crowd img {
  height: 70%;
  top: 250px;
  left: 30px;
}

#colors #trees {
  overflow: visible;
}

#trees img.one {
  left: 700px;
  top: 50px;
  height: 400px;
}

#trees img.two {
  left: -75px;
  top: 50px;
  height: 400px;
}

/*
 *  REGULAR STUFFS
 *
 */

body, p, ol, ul, td {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size:   16px;
  line-height: 24px;
}

pre {
  background-color: #00F;
  padding: 10px;
  font-size: 11px;
}

a { color: #666; }
a:visited { color: #666; }
a:hover { color: #fff; }

.fieldWithErrors {
  padding: 1px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	color: #000;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#main_navigation,
#main_content{
  width: 960px;
  margin: 0 auto;
}

#main_navigation ul li{
	list-style: none;
	float: left;
	text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
	width: 150px;
  text-align: center;
}

#main_content{
  top: 450px;
}

.clear {
	clear: both;
}

h1 {
	font-variant: small-caps;
	text-transform: lowercase;
	color: #222;
	font-size: 60px;
	line-height: 62px;
}

h2 {
	font-variant: small-caps;
	text-transform: lowercase;
	color: #444;
	font-size: 30px;
	line-height: 32px;
}

.active {
	font-variant: small-caps;
	text-transform: lowercase;
}

a.new, a.edit, a.delete, a.cancel {
	font-variant: small-caps;
	text-transform: lowercase;
	color: red;
}

label{
	display: block;
}

.band_photos.new input[type=file] {
  color: white;
}
