body {
  left: 50%;
  margin-left: -240px;
  position: relative;
  width: 480px;
  text-align: center;
}

h1 {
  width: 100%;
  text-align: center;
}

input {
  margin: 10px;
  width: 460px;
  font-size: 1em;
}

textarea {
  margin: 10px;
  width: 460px;
  height: 280px;
  font-size: 12pt;
}

input.submit {
  clear: both;
  width: 100px;
}

table {
  width: 100%;
}

input {
  font-size: 1em;
  margin: 5px 0;
}

label {
  font-variant: small-caps;
  text-transform: lowercase;
}

input.text_field {
  background: #111;
  border: 1px solid #222;
  color: #aaa;
  padding: 5px;
  width: 300px;
}
