- title "Edit Contact Information"
  
- form_for(@contact_information) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Save Changes', :class => 'submit'
  = link_to 'Cancel', contact_informations_path, :class => 'cancel'