- title 'New Contact Information', true

- form_for(@contact_information) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', contact_informations_path, :class => 'cancel'
