- @active_tab = :contact
- title "#{h @contact_information.title}"

%p= h @contact_information.description

= link_to 'Edit', edit_contact_information_path(@contact_information)
|
= link_to 'Go Back to all Contact Information', contact_informations_path
