- @active_tab = :music
- title 'Music', false

#main_content
  
  .section.two_thirds.float_left

    .section
      %h2 
        Newfields Album
        %a{:href => "http://itunes.apple.com/us/album/newfields/id401938486?uo=4", :target => "itunes_store"}
          %img{:alt => "NewFields - Jahman Brahman", :src => "http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_itunes-lrg.gif", :style => "float: right; margin: 10px 0 0 0;border: 0;"}
      .one_third.float_left
        %p=image_tag "/images/newfields_album_cover_two_thirds.jpg", :class => :newfields
      .one_third.float_right
        %p 
          Released 10/31/2010,
          %i Newfields
          is Jahman Brahman's debut album. It features epic guitar, emotive keys, funky bass and drums, all tied together with creative lyrics.
      .clear
    
    .section
      %h2
        Live Recordings on Archive.org
        =link_to image_tag("/images/archiveorg.jpg", :style => "height: 50px"), "http://www.archive.org/search.php?query=collection:JahmanBrahman&sort=-publicdate", :target => :blank, :class => :float_right
      .one_third.float_left
        %p=image_tag "/images/archiveorgsnapshot3.png", :class => :one_third
      .one_third.float_right.text_center
        %p
          Archive.org is a non-profit digital library. They provide free access to the public.
          %br
          %br
          =link_to "Visit Jahman Brahman's Archive", "http://www.archive.org/search.php?query=collection:JahmanBrahman&sort=-publicdate", :target => :blank
      .clear

    .section
      %h2 Watch Jahman Brahman in Action
      %br
      .section
        %iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/D8UkspCSciQ", :title => "YouTube video player", :type => "text/html", :width => "640"}  

      .section
        %iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/q-TsL2lT2K4", :title => "YouTube video player", :type => "text/html", :width => "640"}
      
      .section
        %iframe.youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "510", :src => "http://www.youtube.com/embed/DEepojoEzGs", :title => "YouTube video player", :type => "text/html", :width => "640"}

  .section.one_third.float_right.text_right
    = render :partial => 'layouts/tour_dates'

  .clear
