- @active_tab = :music
- title 'New Song'

- form_for(@song, :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', songs_path, :class => 'cancel'
