- @active_tab = :links
- title 'New Link', true

- form_for(@link) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', links_path, :class => 'cancel'