- @active_tab = :about
- title "Edit About", true

- form_for(@about) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Save Changes', :class => :submit
  %a{:href => '', :class => :cancel, :onclick => "parent.Shadowbox.close();"}
    = "Cancel"
