- @active_tab = :about
- title "New About", true

- form_for(@about) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', abouts_path, :class => 'cancel'
