- @active_tab = :press
- title 'New Press Story'

- form_for(@press_story) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', press_stories_path, :class => 'cancel'
