- title "Edit Show"

- form_for(@show) do |f|
  = f.error_messages

  %table

    = render :partial => 'form', :object => f

    %tr
      %td &nbsp;
      %td
        = f.submit 'Save Changes', :class => 'submit'
        %a{:href => '', :class => 'cancel', :onclick => "parent.Shadowbox.close();"}
          = "Cancel"
