- @active_tab = :shows
- title 'New Show'

- form_for(@show) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Create', :class => 'submit'
  = link_to 'Cancel', shows_path, :class => 'cancel'
