- title 'New Show', true

%table
  - form_for(@show) do |f|
    %tr
      %td= f.error_messages
    
    = render :partial => 'form', :object => f
    
    %tr
      %td &nbsp;
      %td
        = f.submit 'Create', :class => 'submit'
        %a{:href => '', :class => 'cancel', :onclick => "parent.Shadowbox.close();"}
          = "Cancel"
