.fb_like_no_faces
  = link_to image_tag('/images/icons/facebook.png'), 'http://www.facebook.com/pages/Jahman-Brahman/170676061358'  
  %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FJahman-Brahman%2F170676061358&amp;layout=button_count&show_faces=false&width=100&action=like&colorscheme=dark&height=30", :style => "border:none; overflow:hidden; width:100px; height:30px;"}