.fb_like_with_faces
  %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=jahmanbrahman.com&layout=standard&show_faces=true&width=425&action=like&colorscheme=dark&height=80", :style => "border:none; overflow:hidden; width:425px; height:80px;"}
