.section.fb_like_with_faces.text_center
  %h2 Facebook
  %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FJahman-Brahman%2F170676061358&amp;layout=standard&show_faces=true&width=400&action=like&colorscheme=dark&height=80", :style => "border:none; overflow:hidden; width:400px; height:80px;"}
