#footer_container
  = render :partial => 'layouts/contact'
  = render :partial => 'layouts/fb_like_with_faces'
  = render :partial => 'layouts/mailing_list'

  .section.copy_right.clear
    ©2011 JahmanBrahman.com
    %br
    Web Site by 
    = link_to "Jessica Lynn Suttles", "http://jlsuttles.com"
