#footer_container
  .left
    %h3 Make Contact
    = render :partial => 'layouts/contact'

  .center
    %h3 Get Social
    = render :partial => 'layouts/social_networks'

  .right
    %h3 Want Emails?
    = render :partial => 'layouts/mailing_list'
