- javascript 'jquery.jplayer.min', 'jplayer'
- stylesheet 'jplayer'

#jplayer

.jp-audio
  .jp-type-playlist
    .jp-interface
      %ul.jp-controls
        %li
          %a.jp-play play
        %li
          %a.jp-pause pause
        %li
          %a.jp-stop stop
        %li
          %a.jp-mute mute
        %li
          %a.jp-unmute unmute
        %li
          %a.jp-previous previous
        %li
          %a.jp-next next
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-volume-bar
          .jp-volume-bar-value
        .jp-current-time
        .jp-duration

      .jp-playlist
        %ul
          %li
            %a.jp_playlist_1_item1 Mountain Top
          %li 
            %a.jp_playlist_1_item2 Potion for E-Motion
          %li 
            %a.jp_playlist_1_item3 Life (Give and Take)
          %li 
            %a.jp_playlist_1_item4 Orange Station Loop
          %li 
            %a.jp_playlist_1_item5 Working Design
          %li
            %a.jp_playlist_1_item1 Mountain Top
          %li 
            %a.jp_playlist_1_item2 Potion for E-Motion
          %li 
            %a.jp_playlist_1_item3 Life (Give and Take)
          %li 
            %a.jp_playlist_1_item4 Orange Station Loop
          %li 
            %a.jp_playlist_1_item5 Working Design

.clear
