- javascript '/songs.js'
- javascript 'jquery.jplayer.min', 'jplayer'
- stylesheet 'jplayer'

#jquery_jplayer_1

.jp-audio
  .jp-type-playlist
    #jp_interface_1.jp-interface
      %ul.jp-controls
        %li
          %a.jp-play play
        %li
          %a.jp-pause pause
        %li
          %a.jp-stop stop
        %li
          %a.jp-mute mute
        %li
          %a.jp-unmute unmute
        %li
          %a.jp-previous previous
        %li
          %a.jp-next next
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-volume-bar
          .jp-volume-bar-value
        .jp-current-time
        .jp-duration

      #jp_playlist_1.jp-playlist
        %ul
          - @songs.each_with_index do |song, index|
            %li
              %a{:class => "jp_playlist_1_item_#{index}"}
                = song.title
.clear
