.section
  = link_to image_tag('dark-star-jubilee.gif', :width => '275'), 'http://www.darkstarjubilee.com/', :target => :_blank
.section
  = link_to image_tag('floyd-yoga-jam.jpg', :width => '275'), 'http://floydyogajam.com/', :target => :_blank

.section.tour_dates
  %h2.text_left Tour Dates

  %a.songkick-widget{"data-theme" => "dark", :href => "http://www.songkick.com/artists/970420"} Jahman Brahman
  %script{:src => "http://widget.songkick.com/widget.js"}
