.section.tour_dates
  %h2.text_left Tour Dates
  %table
    - @future_shows.each do |show|
      %tr
        %td
          =show.datetime.strftime("%m/%d/%y")
          %br
          =show.datetime.strftime("%I:%M %p")
        %td
          =show.venue.name
          %br
          =show.venue.address.city
          ,
          =show.venue.address.state
        %td
          =show.ages
          %br
          $5
      %tr.grey
        %td
          =show.datetime.strftime("%m/%d/%y")
          %br
          =show.datetime.strftime("%I:%M %p")
        %td
          =show.venue.name
          %br
          =show.venue.address.city
          ,
          =show.venue.address.state
        %td
          =show.ages
          %br
          $5
      %tr
        %td
          =show.datetime.strftime("%m/%d/%y")
          %br
          =show.datetime.strftime("%I:%M %p")
        %td
          =show.venue.name
          %br
          =show.venue.address.city
          ,
          =show.venue.address.state
        %td
          =show.ages
          %br
          $5
